.navigation__containner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 18px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}